*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(./Imagenes/fondo.jpg);
}
main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.Titulo{
    text-align: center;
    font-family:'Roboto', sans-serif; 
    font-size: 40px;
    font-weight: 900;
}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.Formulario2L{
    display: block;
    font-weight: 900;
    padding: 10px;
    cursor: pointer;
    
}
.FormularioT{
    text-align: center;
}
.Formulario2G1I{
    position: relative;
}
.Formulario2I{
    width: 100%;
    background: white;
    border: 4px solid transparent;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.Formulario2I:focus{
    border: 4px solid rgb(13, 93, 197);
    outline: none;
    box-shadow: 4px 0px 32px gray;
}
.Formulario2I1E{
    font-size: 13px;
    margin-bottom: 0;
    display: none;
}
.Formulario2I1E-activo{
    display: block;
}
.Formulario2V1E{
    position: absolute;
    right: 10px;
    bottom: 15px;
    font-size: 16px;
    opacity: 0; 
}
.Formulario2C{
    margin-right: 10px;
}
.Formulario2T,
.Formulario2M,
.Formulario2G1B1E{
    grid-column: span 2;
}
.Formulario2M{
    height: 45px;
    line-height: 45px;
    background: rgba(226, 31, 31, 0.836);
    padding: 0 15px;
    border-radius: 4px;
    display: none;
}
.Formulario2M-activo{
    display: block;

}

.Formulario2M p{
    margin: 0;
}
.Formulario2G1B1E{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Formulario2B{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .1s ease all;
}
.Fomulario2M1E{
    font-size: 22px;
    color: rgb(13, 153, 13);
    display: none;
}
.Fomulario2M1E-activo{
    display: block;
}

/* Parte de diseno de la validacion */

.Formulario2G-correcto .Formulario2V1E{
    color: rgba(55, 241, 55, 0.74);
    opacity: 1;

}
.Formulario2G-incorrecto .Formulario2L{
    color: rgba(235, 33, 33, 0.863);
    opacity: 1;

}
.Formulario2G-incorrecto .Formulario2V1E{
    color: rgba(235, 33, 33, 0.863);
    opacity: 1;

}
.Formulario2G-incorrecto .Formulario2I{
    border: 3px solid rgba(235, 33, 33, 0.863);
}

/* Esta parte se encarga de que la pagina se adapte alas resoluciones  */

@media screen  and (max-width: 800px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .Formulario2T,
    .Formulario2M,
    .Formulario2G1B1E{
         grid-column: 1;
}
    
}